body {
    font-family: 'PT Serif', serif;
    font-size: 14px;
}

#content h1 {
    margin-bottom: 30px;
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    color: #3A644F;
    text-transform: uppercase;
}

#content h2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    color: #71BE98;
    text-transform: uppercase;
}

#content h3 {
    font-family: 'PT Serif', serif;
    font-size: 18px;
    color: #000;
}

header h1 {
    display: block;
    width: 315px;
    height: 47px;
    margin: 75px 0 0 0;
    text-indent: -9999px;
    background: url(logo.png) no-repeat;
}

nav {
    margin-top: 25px;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    overflow: auto;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    float: left;
}

nav ul li:after {
    content: '|';
    padding: 0 8px;
    color: #ccc;
}
nav ul li:last-child:after {
    content: '';
    padding-right: 0;
}

nav a,
nav a:visited {
    color: #4F9471;
    text-decoration: none;
} 

#content {
    margin-top: 75px;
}
